<input type="number" name="name" ng-model="num1">
<input type="number" name="name" ng-model="num2">
<input type="button" name="name" ng-click="suma()" value="sumar">
<input type="button" name="name" ng-click="resta()" value="resta">
<input type="button" name="name" ng-click="multiplicacion()" value="multiplicacion">
<input type="button" name="name" ng-click="division()" value="division">
<input type="button" name="name" ng-click="division()" value="division">
<input type="text" name="name" ng-model="escuela" value="Escuela Deportiva">
<div ng-repeat="item in lista">

<li >
<ul>
  {{item}}
</ul>
</li>

<h1>{{resultado}}</h1>
</div>
